html {
  background-color: #efefef;
  font-family: helvetica;
  padding: 20px;
}

.comment, .myapplication, .header {
  border: 4px solid;
  margin: 20px;
  padding: 10px;
}

.comment {
  border-color: green;
}

.header {
  border-color: red;
}

.myapplication {
  border-color: orange;
}